<h1><%=@user.email%>'s page</h1>

<hr>

<% if @tagged_photos.any? %>
  <h3>Tagged photos of <%=@user.email%>:</h3>

  <% @tagged_photos.each do |photo| %>
    <img src="<%=photo.url%>">
  <% end %>
<% end %>
