<h1><%=@user.email%>'s Profile</h1>

<hr>

<% if @tagged_photos.any? %>
  <div class="well">
    <h3>Tagged photos of <%=@user.email%>:</h3>

    <% @tagged_photos.each do |photo| %>
      <img src="<%=photo.url%>">
    <% end %>
  </div>
<% end %>
