<h1>Pictures with "<%= @tag.name %>" tag:</h1>

<% @tag.images.each do |image| %>
  <div class="well">
    <h3><%= image.title %><h3>
    <h5>posted by: <%=link_to image.user.email, user_path(image.user)%></h5>
    <img src="<%=image.url%>">
  </div>
  <hr>
<% end %>
