/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";


img {
  max-width: 700px;
}

.makeInline {
  display: inline-block;
}

.bigButton {
  margin: 30px;
  text-align: center;
}

#outer
{
    width:100%;
    text-align: right;
}

#outerLeft {
  width:100%;
  text-align: left;
  margin: 5px;
}
.inner
{
    display: inline-block;
}
